{% extends 'base.html' %}
{% load static %}

{% block title %}
    用户信息
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">

                {% if userprofile.avatar %}
                    <br>
                    <img src="{{ userprofile.avatar.url }}" alt="图像违规"
                         style="max-width: 20%; border-radius: 10%;" class="img-circle col-md-4">
                    <br>
                {% else %}
                    <br>
                    <img src="/media/avatar/default/img.png" alt="暂无头像"
                         style="max-width: 20%; border-radius: 10%;" class="img-circle col-md-4">
                    <br>
                {% endif %}

                <br>
                <form method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for field in form %}

                        <div class="form-group" class="col-md-4">
                            <label for="{{ field.name }}">{{ field.label }}</label>
                            {{ field }}
                        </div>

                    {% endfor %}
                    <button type="submit" class="btn btn-primary">保存</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}