{% extends 'base.html' %}
{% load static %}

{% block title %}
    文章详情
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'ckeditor/prism/prism.css' %}">

    <div class="container">
        <div class="row">
            <h3 class="col-12 mt-4 mb-4">
                {{ article.title }}
            </h3>

            <div class="col-12 alert alert-secondary">
                <div class="row">
                    <small class="col-md-2"> 作者：{{ article.author }}</small>

                    <small class="col-md-2"> 浏览量：{{ article.total_visit }}</small>

                    <small class="col-md-6"></small>

                    {% if user == article.author %}
                        <small class="col-md-2">
                            <a href="#" onclick="confirm_delete()">删除文章</a>
                            <a href="{% url 'article:article_update' article.id %}">编辑文章</a>
                        </small>
                        <form method="post" style="display: none" id="delete"
                              action="{% url 'article:article_delete' article.id %}">
                            {% csrf_token %}
                            <button type="submit">删除</button>
                        </form>
                    {% else %}{% endif %}

                </div>

            </div>

            <div class="col-9" style="min-height: 400px; height: auto">
                <p>{{ article.body | safe }}</p>
                <hr>
            </div>

            <!-- 目录 -->
            <div class="col-3 mt-2">
                <h5><strong>目录</strong></h5>
                <hr>
                <div>
                    {{ md.toc |safe }}
                </div>
            </div>

            <!-- 发表评论 -->
            {% if user.is_authenticated %}
                <div class="container">
                    <form method="post" action="{% url 'comment:post_comment' article.pk %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="content">
                                <strong>
                                    发个评论吧：
                                </strong>
                            </label>
                            <div>
                                {{ comment_form.media }}
                                {{ comment_form.content }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">发送</button>
                    </form>
                </div>
            {% else %}
                <h4 class="container small">
                    您还未登录，请<a href="{% url 'user:user_login' %}">登录</a>后进行评论吧
                </h4>
            {% endif %}

            <!-- 显示评论 -->
            <h4 class="container small">共有{{ comments.count }}条评论</h4>
            <div class="container col-12">
                {% for comment in comments %}
                    <hr>
                    <p>
                        <strong style="color: gray">
                            {{ comment.user }}
                        </strong>
                        <span class="small" style="color: green">
                            发布于{{ comment.created | date:"Y-m-d H:i:s" }}
                        </span>

                        {% if user == comment.user %}
                            <span class="small" style="float:right;">
                                <a href="{% url 'comment:delete_comment' article.pk comment.pk %}">
                                    删除
                                </a>
                            </span>
                        {% else %}{% endif %}

                    </p>
                    <div style="font-family: inherit;font-size: 1em;">
                        {{ comment.content | safe }}
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

    <script>
        function confirm_delete() {
            layer.open({
                title: '确认删除',
                content: '删除后文章不可恢复',
                yes: function (index, layero) {
                    $('#delete button').click();
                    layer.close(index);
                }
            })
        }
    </script>
    <!--代码高亮js-->
    <script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
    <!--富文本js-->
    <script src="{% static 'ckeditor/prism/plugin.js' %}"></script>
{% endblock %}
