{% extends 'base.html' %}
{#{% load static %}#}

{% block title %}
    首页
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <!-- 搜索栏 -->
            <div class="col-6"><br>
                <form class="input-group" method="get">
                    <label style="width: 400px">
                        {% if search %}
                            <input type="text" class="form-control"
                                   name="search" value="{{ search }}" required>
                        {% else %}
                            <input type="text" class="form-control"
                                   name="search" placeholder="请输入文章或关键词 ..." required>
                        {% endif %}
                    </label>

                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">搜一下</button>
                    </span>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </form>
            </div>

            <!-- new or hot -->
            <div class="col-6" aria-label="breadcrumb">
                <br>
                <ol class="breadcrumb">
                    {% if order == 'common' %}
                        <li class="breadcrumb-item">
                            <a>最新发布</a>
                        </li>
                    {% else %}
                        <li class="breadcrumb-item">
                            <a href="{% url 'article:article_list' %}?order=common&search={{ search }}&column={{ column }}&tag={{ tag }}">
                                最新发布
                            </a>
                        </li>
                    {% endif %}

                    {% if order == 'total_visit' %}
                        <li class="breadcrumb-item">
                            <a>浏览最多</a>
                        </li>
                    {% else %}
                        <li class="breadcrumb-item">
                            <a href="{% url 'article:article_list' %}?order=total_visit&search={{ search }}&column={{ column }}&tag={{ tag }}">
                                浏览最多
                            </a>
                        </li>
                    {% endif %}
                </ol>
            </div>
        </div>

        <!-- 搜索提示语 -->
        {% if search %}
            {% if articles %}
                <h4><span style="color: red">"{{ search }}"</span>的搜索结果如下：</h4>
                <hr>
            {% else %}
                <h4>
                    <i class="fa fa-frown-o" aria-hidden="true"></i>
                    暂无与<span style="color: red">"{{ search }}"</span>有关的文章
                </h4>
                <hr>
            {% endif %}
        {% endif %}

        <!-- 文章预览 -->
        <div class="row mt-1">
            {% for article in articles %}
                <div class="col-12 mb-4">
                    <div class="card">
                        <!-- 标题 -->
                        <h4 class="card-header">
                            <a href="{% url 'article:article_detail' article.pk %}"
                               style="color: black;text-decoration: none">
                                {{ article.title }}
                            </a>
                            <!-- 小标签 -->
                            {% if article.tags %}
                                <small style="float: right">
                                    {% for tag in article.tags.all %}
                                        <a href="{% url 'article:article_list' %}?tag={{ tag }}"
                                           class="btn btn-sm">
                                            <kbd class="bg-white" style="color: grey">{{ tag }}</kbd>
                                        </a>
                                    {% endfor %}
                                </small>
                            {% else %}{% endif %}
                        </h4>
                        <!-- 摘要 -->
                        <div class="card-body">
                            <p class="card-text">
                                {{ article.body | slice:'80' }}...
                            </p>
                        </div>
                        <!-- 注脚 -->
                        <div class="card-footer">
                            <div class="row" style="color:gray;">

                                <div class="col-2">
                                    <small class="col align-self-end">
                                        <i class="fa fa-columns" aria-hidden="true">
                                            {{ article.total_visit }}
                                        </i>
                                    </small>
                                </div>

                                <div class="col-2">
                                    <small class="col align-self-end">
                                        <i class="fa fa-commenting-o" aria-hidden="true">
                                            {{ article.total_comment }}
                                        </i>
                                    </small>
                                </div>

                                <div class="col-2">
                                    <small class="col align-self-end">
                                        <i class="fa fa-tags" aria-hidden="true">
                                            {% if article.column %}
                                                <a href="{% url 'article:article_list' %}?column={{ article.column }}"
                                                   style="text-decoration: none;color: grey">
                                                    {{ article.column }}
                                                </a>
                                            {% else %}
                                                未分类
                                            {% endif %}
                                        </i>
                                    </small>
                                </div>

                                <div class="col-3">
                                    <small class="col align-self-end">
                                        发布时间: {{ article.created }}
                                    </small>
                                </div>

                                <div class="col-3">
                                    <small class="col align-self-end">
                                        最后更新: {{ article.updated }}
                                    </small>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- 分页组件 -->
        {% if articles %}
            <ul class="pagination">

                {% if articles.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page=1&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}">首页</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">首页</span></li>
                {% endif %}


                {% if articles.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ articles.previous_page_number }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}">上一页</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">上一页</span></li>
                {% endif %}


                {% for i in page_list %}
                    {% if articles.number == i %}
                        <li class="page-item disabled"><a class="page-link">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ i }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}


                {% if articles.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ articles.next_page_number }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}">下一页</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">下一页</span></li>
                {% endif %}


                {% if articles.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ articles.paginator.num_pages }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}">尾页</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">尾页</span></li>
                {% endif %}
            </ul>
        {% else %}
        {% endif %}
    </div>
{% endblock %}