{% extends 'base.html' %}
{#{% load static %}#}

{% block title %}
    用户验证
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <h4>您正在通过邮箱找回密码</h4>
        <h5>
            验证成功将发送一封邮件至您的<a href="https://mail.qq.com" target="_blank">邮箱</a>，您可以使用邮件附带的验证码重置密码！
        </h5>

        <div class="row">
            <div class="col-12">
                <br>
                <form method="post" action=".">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.name }}">{{ field.label }}</label>
                            {{ field }} {{ field.errors }}
                        </div>
                    {% endfor %}
                    <br>
                    <button type="submit" class="btn btn-primary">发送验证码</button>
                </form>
            </div>
        </div>

        <h5 class="small">若未预留邮箱请联系客服！</h5>
    </div>
{% endblock %}